<div>
    <h3><strong>About Page</strong></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit dignissimos facilis inventore cumque eius nihil
        pariatur voluptatum minus vel, asperiores delectus praesentium nisi quibusdam eligendi natus reiciendis odio
        maiores necessitatibus itaque amet deleniti officiis nulla porro qui. Fuga, voluptatum sit doloremque iusto ex
        tempora delectus eos est molestias vitae eius itaque aut nemo ipsum sed maxime necessitatibus deleniti
        perspiciatis asperiores cum error! Unde natus, fugit doloremque modi dicta hic, dolor fugiat quae officiis autem
        culpa? Ducimus modi facilis aperiam officiis optio corporis in voluptatem eum praesentium? Sunt exercitationem
        numquam deleniti aliquid perspiciatis magni vel, est soluta quis culpa, facilis quisquam!
    </p>
</div>